include:
  - path: compose.themes.yaml
  - path: compose.decks.yaml

services:
  traefik:
    image: traefik:v3.6@sha256:90099f8948c828ecf0ababd711a4359a2443eba12261c1df2f548a3b1d815938
    ports:
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./.docker/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./.docker/traefik/dynamic.yaml:/etc/traefik/dynamic.yaml:ro
      - ./.docker/traefik/certs:/etc/traefik/certs:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.slides.localhost`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"

  dev:
    build: .
    profiles:
      - dev
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: >
      sh -c "pnpm install && sleep infinity"

volumes:
  node_modules:
